@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500;600;700&display=swap');
.App {
  text-align: center;
  font-family: 'Barlow Semi Condensed', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score-div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  width: 500px;
  height: 80px;
  border-radius: 10px;
  margin-top: 20px;
  margin: 0 auto;
}

.score-div div {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 30px;
  font-weight: 600;
  display: flex;
}

.finish {
  text-align: center;
  font-size: 70px;
  font-weight: 700;
  position: absolute;
  margin-top: 150px;
  margin-left: 12%;
  z-index: 20;
  color: white;
  text-shadow: rgb(244, 45, 145) 3px 0 20px;
}

.lost {
  margin-top: 0;
}
